* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.bread-crumb_bottom img{
 margin-top: 10px;
    width: 100%;
    height: 100%;
}.bread-crumb_bottom{
    padding: 2rem 0rem
}
.bread-crumb_bottom  h2{
    font-size: 30px;
    font-weight: 700;
    color: #000000;
}
.bread-crumb_top {
   
    content: '';
    background: #1e1e1ea1;
    width: 100%;
    height: 100%;
}
.bread-crumb_top img{
    width: 100%;
    height: 345px;}.table , thead , tr , th ,td{
    vertical-align: bottom;
    text-align: left;    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
   
  }
  table{
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  .bread-crumb_lastbottom  {
    margin-top: 20px;
    text-align: center;
  }p,h2{
    margin-top: 15px;
  }
  h2{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    margin: 0 0 10px;
    text-transform: uppercase;
  }
  h3{
    
    font-size: 24px;
    margin-top: 15px;
  }th,td{
    width: 50%;
  }
  @media screen and (max-width: 968px) {
    .container{
        width: 100%;
    }
    .coursesdetail{
       display: none;
    }

}